body{
  font-family: 'Mountains of Christmas', cursive;
  text-align: center;
  background-color: #a20a0a;
  border: 0;
}

.head{
  background-image: url("images/c2.jpg");
}

h1{
  font-size: 5rem;
  margin: 15px;
  animation: color-change 1s infinite;
}

.our-image{
  width: 300px;
  border-radius: 20%;
  border-color: red;
  border: dotted 3px;
  animation: change-color 0.5s infinite;
  margin-left: 100px;
  margin-bottom: 50px;
}

.christmas-image {
  width: 500px;
  border-radius: 20%;
  border-color: red;
  border: dotted 3px;
  animation: change-color 0.5s infinite;
  margin: 150px;
}
.carousel-control-next{
  margin-right: 665px;
}

#pictureCarousel{
  margin: 80px;
  text-align: left;
}

#lights{
  background-image: url("images/c1.jpg");
}
/* color change */
@keyframes color-change {
  0% { color: red; }
  50% { color: blue; }
  100% { color: green; }
}

@keyframes change-color {
  0% { color: green; }
  50% { color: white; }
  100% { color: gold; }
}
